@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Excel File validator</h1>
    <p class="lead">Learn - Teach - Automate</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Upload Validation Template</h2>
        <button name="UploadValidationTemplate" id="UploadValidationTemplate" class="btn btn-default" data-toggle="modal" data-target="#partialViewModal">Upload Validation Template</button>
    </div>
    <div class="col-md-6">
        <h2>Validate My Excel</h2>
        <button name="ValidateMyExcel" id="ValidateMyExcel" class="btn btn-default" data-toggle="modal" data-target="#partialViewModal">Validate My Excel</button>
    </div>
</div>
